<form name="form" ng-submit="save()">
    <div class="modal-header">
        <h3 class="modal-title">{{newItem ? 'Creando nuevo curso' : 'Editando Curso'}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
        	<div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Titulo *</label>
                    <input type="text" class="form-control" id="name" placeholder="Ej. Curso de cocina italiana" ng-model="item.name" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="schedule">Horario *</label>
                    <input type="text" class="form-control" id="schedule" placeholder="Ej. Fines de Semana de 12:00PM a 2:00PM" ng-model="item.schedule" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="lugar">Lugar *</label>
                    <input type="text" class="form-control" id="lugar" 
                    	placeholder="Ej. ITESM Campus Monterrey (Centro estudiantil)" ng-model="item.area" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="amount2">Precio *</label>
					<!-- <div class="input-group"> -->
	                    <!-- <span class="input-group-addon">$</span> -->
	                    <input type="number" ng-pattern="/^\d*(?:\.\d{1,2})?$/" step="any" min="0" 
	                    	class="form-control" id="precio" placeholder="Precio" ng-model="item.price" required>
                    <!-- </div> -->
                </div>
            </div>
            <div class="col-sm-6">
            	<label for="categoria">Elige una categoria *</label>
            	<select name="categoria" id="" ng-model="selectedIndex" class="form-control" ng-change="changeIndex(selectedIndex)">
            		<option value="{{$index}}" ng-repeat="category in categories">{{ category.name }}</option>
            	</select>
            </div>
            <div class="col-sm-6">
            	<label for="subcategoria">Elige una subcategoria *</label>
            	<select name="subcategoria" id="" ng-model="item.categoryId" class="form-control" required>
            		<option ng-repeat="subcategory in categories[selectedIndex].children"
            			value="{{subcategory.categoryId}}">{{ subcategory.name }}</option>
            	</select>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="content">Descripción</label>
                    <textarea name="content" id="content" ng-model="item.content" class="form-control" placeholder="Descripción" required></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-skillsm btn-blue" value="Save" ng-disabled="form.$invalid" />
        <button class="btn-skillsm btn-red" ng-click="cancel()">Cancel</button>
    </div>
</form>