<div class="container">
	<div class="login-container">
        <div class="form-box">
        	<legend>Bienvenido a Skills Meister</legend>
            <form name="form" ng-submit="registerUser()">
            	<input name="email" type="email" placeholder="Email *"  ng-model="user.email" required>
                <input name="name" type="text" placeholder="Nombre completo *" ng-model="user.fullName" required>
                <input name="phone-number" type="text" ng-pattern="/^[0-9]{1,10}$/" ng-minlength="10" placeholder="Celular *" ng-model="user.phoneNumber" required>
                <input name="skype" type="text" placeholder="Skype" ng-model="user.skype">
                <input name="ciudad" type="text" placeholder="Ciudad *"  ng-model="user.city" required>
                <input name="zipcode"  type="number" ng-pattern="/^\d*(?:\.\d{1,2})?$/" placeholder="Código postal *"  ng-model="user.zipcode" required>
                <input type="password" placeholder="Contraseña" ng-model="user.password" required>
                <input class="btn-skillsm btn-green-light btn-block login" type="submit" ng-disabled="form.$invalid" value="Regístrarme" />
            </form>
        </div>
        <br>
        <span>¿Ya tienes cuenta? <a href="#/login">Inicia sesión</a></span>
    </div>
    
</div>
